{minimum_otp_vsn, "27.0"}.
{erl_opts, [debug_info]}.
{deps, [
    {ja_erl_utils, ".*", {git, "https://github.com/Juliusan/ja_erl_utils.git", {tag, "1.1.0"}}}
]}.
{profiles, [
    {test, [
        {deps, [
            {meck, ".*", {git, "https://github.com/eproxus/meck.git", {tag, "0.9.2"}}},
            {sync, ".*", {git, "https://github.com/rustyio/sync.git", {tag, "v0.4.1"}}}
        ]}
    ]},
    {docs, [
        {deps, [
            {edown, ".*", {git, "https://github.com/uwiger/edown.git", {tag, "0.9.1"}}}
        ]}
    ]}
]}.
